
<div class="container">
    <img class="logo" src="/assets/logo.png">
    <a href=""><img class="planet about" src="/assets/planet1.png"></a>
    <a href=""><img class="planet works" src="/assets/planet1.png"></a>
    <a href=""><img class="planet instagram" src="/assets/planet1.png"></a>
    <a href=""><img class="planet youtube" src="/assets/planet1.png"></a>
    <a href=""><img class="planet commissions" src="/assets/planet1.png"></a>
    <a href=""><img class="planet email" src="/assets/planet1.png"></a>
</div>

